<div class="ui middle aligned selection list">
    <div class="item">
        <div class="content">
            <div class="header">
                <div class="row">
                    <div class="col-8">
                        <div *ngIf="!opened">{{ user.username }} </div>
                        <input *ngIf="opened" class="form-control" type="text" name="username" id="username"
                            [(ngModel)]="user.username" />
                    </div>
                    <div class="col-2">
                        <fa-icon *ngIf="!opened" (click)="userEdit(user)" [ngStyle]="{'color': 'orange'}"
                            [icon]="faEdit"></fa-icon>
                        <fa-icon *ngIf="opened" (click)="saveEdit(user)" [ngStyle]="{'color': 'green'}"
                            [icon]="faCheck"></fa-icon>
                    </div>
                    <div class="col-2">
                        <fa-icon *ngIf="!opened" [ngStyle]="{'color': 'red' }" [icon]="faTimes"></fa-icon>
                        <fa-icon *ngIf="opened" [ngStyle]="{'color': 'grey' }" [icon]="faArrowLeft"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>