<div class="ui aligned center aligned center pt-5 grid">
    <div class="row text-center pb-4">
        <div class="col">
            <h1>{{ !showAddCompanyState? 'Companies' : 'Add Company' }}</h1>
        </div>
        <div class="col">
            <button (click)="showAddCompany()"
                class="{{ !showAddCompanyState? 'ui justfiy-right success button green' : 'ui justfiy-right danger button red' }}">
                {{ !showAddCompanyState? 'Add Company': 'Cancel' }}
            </button>
        </div>
    </div>
    <div *ngIf="showAddCompanyState" class="row">
        <div class="col-4 text-center">
            <app-add-company (onAddCompany)="addCompany($event)"></app-add-company>
        </div>
    </div>

    <app-company-item (onEditCompany)="editCompany($event)" (onDeleteCompany)="deleteCompany($event)"
        *ngFor=" let company of companyList" [company]="company">
    </app-company-item>
</div>