.login-form {
  /* margin-top: 50%; */
  transform: translate(0, 40%);
  border-radius: 15px;
  border: 1px solid steelblue;
}

/* .login-form > * {
  padding: 12px;
} */
.login-form h1 {
  padding: 12px;
}
