<div class="container">
    <div class="ui mb-3 four  wide column">
        <div class="ui ten wide column">
            <div *ngIf="!showEditCompany" class="ui one card">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-6">
                                {{company.companyName}}
                            </div>
                            <div class="col-6">
                                <button (click)="onClickAddUser()"
                                    class="{{!showAddEmployee? 'btn btn-success' : 'btn btn-danger red'}}"> {{
                                    !showAddEmployee? 'add employee': 'cancel'}} </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra employees">
                    <!-- here are employees -->
                    <app-employees [company]="company"></app-employees>
                    <!-- end employees -->
                </div>

                <!-- for adding employee -->
                <app-add-employee *ngIf="showAddEmployee" (onSaveButton)="clickedSaveEmployee($event)"
                    [company]="company" (onCancelButton)="clickedCancelAdd($event)">
                </app-add-employee>


                <div class="extra row content">
                    <button (click)="editCompany()" class="ui button success yellow"> Edit Company </button>
                    <button (click)="deleteCompany()" class="ui button danger red"> Delete Company </button>
                </div>
            </div>

            <!-- for the editing  -->
            <div *ngIf="showEditCompany" class="ui one card">
                <div class="content">
                    <div class="header">
                        <input [(ngModel)]="company.companyName" type="text" class="form-control">
                    </div>
                </div>
                <div class="extra row content">
                    <button (click)="onSaveCompany()" class="ui button success green"> Save Company </button>
                    <button (click)="onCancel()" class="ui button danger red"> cancel edit </button>
                </div>
            </div>

        </div>
    </div>
</div>